.error-404 {
 text-align: center;
  div{
    max-width: 800px;
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
  .back {
    font-weight: bold;
    font-size: 26px;
    border-bottom: 2px solid black;
  }
}
